@tailwind base;
@tailwind components;
@tailwind utilities;




/* START: GENRAL STYLE */

@layer base{
  h2{
    @apply text-[1.5rem]  lg:text-[2.9rem]
  }
  h3{
    font-size: 34px;
  }
  h4{
    font-size: 24px;
  }
};

@layer components{
  .sub_1{
    font-size: 16px;
  }
  .sub_2{
    font-size: 14px;
  }

  .cation{
    font-size: 12px;
  }

  .centeritems{
    @apply flex items-center justify-center
  }
}

.bg__app{
background: rgb(153,7,164);
background: radial-gradient(circle, rgb(22, 18, 22) 9%, rgb(11, 7, 48) 30%, rgba(4,5,4,1) 100%,rgb(8, 7, 68) 70%);
}


.shadow-text{
  text-shadow: #fff 1px 0 4px;
}

/* END: GENRAL STYLE */

